.maubody {
	background-color: #282923;
}
p {
	color: white;
}
ul{
	color: white;
}
pre {
	color: white;
}
table {
	background-color: #9044B1;
}
div {
	color: white;
}
b {
	color: yellow;
}
#bn{
	color: black;
	width: 800px;
	margin: auto;
	height: 100px;
	background-color: yellow;
}
#mn{
	width: 800px;
	margin: auto;
	height: 50px;
	background-color: red;
}
#wrapper{
	width: 800px;
	margin: auto;
	height: 1000px;
}
#l{
	color: black;
	width: 150px;
	height: 1000px;
	background-color: white;
	float: left;
}
#m{
	width: 500px;
	height: 1000px;
	background-color: green;
	float: left;
}
#r{
	color: black;
	width: 150px;
	height: 1000px;
	background-color: white;
	float: left;
}
#bt{
	width: 800px;
	margin: auto;
	height: 50px;
	background-color: #F78441;
}